* {
  font-family: 'Noto Serif', serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.components {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.customer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #bddabc;
  width: 25vw;
  height: 70vh;
  color: #000;
}

.barista-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2d78c;
  width: 25vw;
  height: 70vh;
  color: #000;
}

.barista-container > h3 {
  margin: 0;
}

.machine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4133d5;
  width: 25vw;
  height: 70vh;
  color: #000;
}

.event {
  margin: 15px;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.active {
  background: grey;
  border: 2px solid #000;
  font-size: 1.7rem;
}
